<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">

    <div class="card">
        <div class="header">
            <h2>
                CrudExample Details <small>Description text here...</small>
            </h2>
            <div>
                <a th:href="@{/admin/crudexamples/create}" class="btn btn-primary pull-right">Create New</a>
                <a th:href="@{/admin/crudexamples}" class="btn btn-primary pull-right">All CrudExamples</a>
            </div>
        </div>

        <div class="body">
            CrudExamples(<span th:text="${crudexample?.id}"></span>) details goes here
        </div>

    </div>

</div>
</html>