<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content-header">
        <h1>
            <span style="color: green;font-size: 38px; font-weight: bold;" th:text="@{Room Details}"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/hotels}">All Hotels</a></li>
            <li class="active" th:text="${room?.hotel?.name}"></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">

            <div class="col-xs-12">

                <!--BOOKING SESSION ITEMS-->
                <div class="row panel panel-primary table-responsive"
                     th:if="${session.booking?.roomList!=null and !session.booking?.roomList.isEmpty()}">
                    <table class="table">
                        <thead class="panel-heading">
                        <th style="text-align: center;">Room Number</th>
                        <th style="text-align: center;">Booking Date</th>
                        <th style="text-align: center;">Price</th>
                        <th style="text-align: center;">Discount</th>
                        <th style="text-align: center;">You're saving</th>
                        <th style="text-align: center;">Total Payable</th>
                        <th style="text-align: center;">Remove</th>
                        </thead>
                        <tbody class="panel-body">
                        <tr th:each="room, iter : ${session.booking?.roomList}">
                            <td style="text-align: center;" th:text="${room?.roomNumber}"></td>
                            <td style="text-align: center;"
                                th:text="${room?.getReadableDayMonth(session.booking?.bookingDateList?.get(iter.index))}"></td>
                            <td style="text-align: center;" th:text="${room?.price}"></td>
                            <td style="text-align: center;"
                                th:text="${room?.getDiscount(session.booking?.bookingDateList?.get(iter.index))}"></td>
                            <td style="text-align: center;"
                                th:text="${room?.getDiscountPercentage(session.booking?.bookingDateList?.get(iter.index))}"></td>
                            <td style="text-align: center;"
                                th:text="${room?.getDiscountedPrice(session.booking?.bookingDateList?.get(iter.index))}"></td>
                            <td style="text-align: center;">
                                <a th:href="@{/bookings/cart/remove/}+${room?.id}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: center;">Total Price:<br/><b
                                    th:text="${session.booking?.getTotalCost()}"></b>
                            </td>
                            <td style="text-align: center;">Total Discount:<br/><b
                                    th:text="${session.booking?.getTotalDiscount()}"></b></td>
                            <td style="text-align: center;">Total Saving:<br/><b
                                    th:text="${session.booking?.getTotalDiscountPercentage()}"></b></td>
                            <td style="text-align: center;">Grand Total:<br/><b style="color: green;"
                                                                                th:text="${session.booking?.getTotalPayableCost()}"></b>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <!--ROOM DETAILS-->
                <div class="row">
                    <!--IMAGE-->
                    <div class="row col-sm-12">
                        <div id="myCarousel" class="carousel slide rooms-pic" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner room-pic-carousel-inner">
                                <div class="item active room-pic-item">
                                    <img th:src="@{/rooms/}+${room?.id}+@{/image/0}" id="dtlsImg1" alt="Los Angeles"
                                         style="height: auto; width: 100%; "></img>
                                </div>

                                <div class="item room-pic-item">
                                    <img th:src="@{/rooms/}+${room?.id}+@{/image/1}" id="dtlsImg2" alt="Chicago"
                                         style="height: auto; width: 100%; margin:auto;"></img>
                                </div>

                                <div class="item room-pic-item">
                                    <img th:src="@{/rooms/}+${room?.id}+@{/image/2}" id="dtlsImg3" alt="New York"
                                         style="height: auto; width: 100%; "></img>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
                            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                            <!--<span class="sr-only">Previous</span>-->
                            <!--</a>-->
                            <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
                            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                            <!--<span class="sr-only">Next</span>-->
                            <!--</a>-->
                        </div>
                    </div>
                    <!--INFOs-->
                    <div class="row col-sm-12">

                        <div class="box box-primary">

                            <div class="box-header with-border">
                            </div>

                            <div class="box-body">

                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="box box-widget widget-user-2">
                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                            <div class="widget-user-header bg-aqua">
                                                <!--<div class="widget-user-image">-->
                                                <!--<img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">-->
                                                <!--</div>-->
                                                <!--&lt;!&ndash; /.widget-user-image &ndash;&gt;-->
                                                <h3 class="widget-user-username">Room Informations</h3>
                                                <!--<h5 class="widget-user-desc">Lead Developer</h5>-->
                                            </div>
                                            <div class="box-footer no-padding">
                                                <ul class="nav nav-stacked">
                                                    <li><a href="#">Room Number <span class="pull-right badge bg-blue"
                                                                                      th:text="${room?.roomNumber}">31</span></a>
                                                    </li>
                                                    <li><a href="#">Original Price <span
                                                            class="pull-right badge bg-aqua"
                                                            th:text="${room?.price}">5</span></a>
                                                    </li>
                                                    <li><a href="#">Discount<span class="pull-right badge bg-aqua"
                                                                                  th:text="${room?.getDiscount(date)}">5</span></a>
                                                    </li>
                                                    <li><a href="#">Final Price<span class="pull-right badge bg-aqua"
                                                                                     th:text="${room?.getDiscountedPrice(date)}">5</span></a>
                                                    </li>
                                                    <li><a href="#">Floor <span class="pull-right badge bg-green"
                                                                                th:text="${room?.floorNumber}">12</span></a>
                                                    </li>
                                                    <li><a href="#">Discount <span class="pull-right badge bg-red"
                                                                                   th:text="${room?.getDiscountPercentage(date)}">842</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--<div class="box box-info">-->
                                            <!--<div class="box-header with-border">-->
                                                <!--<h3 class="box-title">Hotel Average Rating</h3>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
                                            <!--<div class="box-body">-->
                                                <!--<div class="progress-group"-->
                                                     <!--style="margin-left: 50px;margin-right: 50px;">-->
                                                    <!--<span class="progress-text">Rating:</span>-->
                                                    <!--<span class="progress-number"><b-->
                                                            <!--th:text="${room?.hotel?.getAverageRating()}">4</b>/5</span>-->

                                                    <!--<div class="progress sm">-->
                                                        <!--<span id="ratingHidden" hidden="hidden"-->
                                                              <!--th:text="${room?.hotel?.getAverageRating()}"></span>-->
                                                        <!--<div id="ratingProgressBar"-->
                                                             <!--class="progress-bar progress-bar-aqua"-->
                                                             <!--style="width: 0%"></div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
                                        <!--</div>-->

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="small-box bg-aqua">
                                            <div class="inner">
                                                <h3 th:text="${room?.category?.name}">150</h3>

                                                <p>Category</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-bed"></i>
                                            </div>
                                        </div>
                                        <div class="small-box bg-red">
                                            <div class="inner">
                                                <h3 th:text="${room?.category?.maxChildNumber}">150</h3>
                                                <p>Maximum Child</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-child"></i>
                                            </div>
                                        </div>
                                        <div class="small-box bg-yellow">
                                            <div class="inner">
                                                <h3 th:text="${room?.category?.maxAdultNumber}">150</h3>
                                                <p>Maximum Adult</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-male"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="box box-widget widget-user-2">
                                            <div class="widget-user-header bg-aqua">
                                                <h3 class="widget-user-username">House Rules</h3>
                                            </div>
                                            <div class="box-footer no-padding">
                                                <ul class="nav nav-stacked">
                                                    <li><a href="#">Check-in time <span class="pull-right badge bg-blue"
                                                                                      th:text="@{12:00PM - 12:30PM}">31</span></a>
                                                    </li>
                                                    <li><a href="#">Check-out time <span
                                                            class="pull-right badge bg-aqua"
                                                            th:text="@{12:00PM - 12:30PM}">5</span></a>
                                                    </li>
                                                    <li><a href="#">Childer and extra beds<span class="pull-right badge bg-aqua"
                                                                                  th:text="@{Welcome}">5</span></a>
                                                    </li>
                                                    <li><a href="#">Pets<span class="pull-right badge bg-aqua"
                                                                                                th:text="@{Pets are not allowed}">5</span></a>
                                                    </li>
                                                    <li><a href="#">Payment method<span class="pull-right badge bg-aqua"
                                                                                                th:text="@{Cash only}">5</span></a>
                                                    </li>



                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-12" style="margin: 15px 0;">
                                        <div style="margin-top: 10px; border-bottom: 1px solid gray; font-size: 38px; font-weight: bold;"><h1 class="text-center">Room Facilities</h1></div>
                                        <hr>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.breakfast}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.breakfast}?  bg-green : bg-red">
                                               <i th:classappend="${room?.facilities?.breakfast}?  glyphicon-ok : glyphicon-remove"
                                                  class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Free Breakfast</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.tv}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.tv}?  bg-green : bg-red">
                                               <i id="dtlsIsTv"
                                                  th:classappend="${room?.facilities?.tv}?  glyphicon-ok : glyphicon-remove"
                                                  class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">TV</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.airConditioned}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.airConditioned}?  bg-green : bg-red">
                                               <i id="dtlsIsAirConditioned"
                                                  th:classappend="${room?.facilities?.airConditioned}?  glyphicon-ok : glyphicon-remove"
                                                  class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Air Conditioned</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.geyser}">
                                        <div class="info-box">
                                                <span class="info-box-icon"
                                                      th:classappend="${room?.facilities?.geyser}?  bg-green : bg-red">
                                                   <i id="dtlsIsGeyser"
                                                      th:classappend="${room?.facilities?.geyser}?  glyphicon-ok : glyphicon-remove"
                                                      class="glyphicon"></i>
                                                </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Geyser</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.internet}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.internet}?  bg-green : bg-red">
                                               <i id="dtlsIsWifi"
                                                  th:classappend="${room?.facilities?.internet}?  glyphicon-ok : glyphicon-remove"
                                                  class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Free Wifi</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.telephone}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.telephone}?  bg-green : bg-red">
                                               <i id="dtlsIsWifi"
                                                  th:classappend="${room?.facilities?.telephone}?  glyphicon-ok : glyphicon-remove"
                                                  class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Telephone</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.bathTowel}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.bathTowel}?  bg-green : bg-red">
                                               <i id="dtlsIsWifi"
                                                  th:classappend="${room?.facilities?.bathTowel}?  glyphicon-ok : glyphicon-remove"
                                                  class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Bath Towel</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.tableAndChair}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.tableAndChair}?  bg-green : bg-red">
                                               <i id="dtlsIsWifi"
                                                  th:classappend="${room?.facilities?.tableAndChair}?  glyphicon-ok : glyphicon-remove"
                                                  class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Table And Chair</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.seaView}">
                                        <div class="info-box">
                                                <span class="info-box-icon"
                                                      th:classappend="${room?.facilities?.seaView}?  bg-green : bg-red">
                                                   <i id="dtlsIsSeaView"
                                                      th:classappend="${room?.facilities?.seaView}?  glyphicon-ok : glyphicon-remove"
                                                      class="glyphicon"></i>
                                                </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsSeaView"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Sea View</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.hillView}">
                                        <div class="info-box">
                                                <span class="info-box-icon"
                                                      th:classappend="${room?.facilities?.hillView}?  bg-green : bg-red">
                                                   <i id="dtlsIsHillView"
                                                      th:classappend="${room?.facilities?.hillView}?  glyphicon-ok : glyphicon-remove"
                                                      class="glyphicon"></i>
                                                </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Hill View</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.frontFace}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.frontFace}?  bg-green : bg-red">
                                                <i th:classappend="${room?.facilities?.frontFace}?  glyphicon-ok : glyphicon-remove"
                                                   class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Front Face</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.inMiddle}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.inMiddle}?  bg-green : bg-red">
                                                <i th:classappend="${room?.facilities?.inMiddle}?  glyphicon-ok : glyphicon-remove"
                                                   class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">In Middle</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.backFace}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.backFace}?  bg-green : bg-red">
                                                <i th:classappend="${room?.facilities?.backFace}?  glyphicon-ok : glyphicon-remove"
                                                   class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Back Face</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.withCorridor}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.withCorridor}?  bg-green : bg-red">
                                                <i th:classappend="${room?.facilities?.withCorridor}?  glyphicon-ok : glyphicon-remove"
                                                   class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">With Balcony</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.kitchen}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.kitchen}?  bg-green : bg-red">
                                                <i th:classappend="${room?.facilities?.kitchen}?  glyphicon-ok : glyphicon-remove"
                                                   class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Kitchen</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" th:if="${room?.facilities?.bathTub}">
                                        <div class="info-box">
                                            <span class="info-box-icon"
                                                  th:classappend="${room?.facilities?.bathTub}?  bg-green : bg-red">
                                                <i th:classappend="${room?.facilities?.bathTub}?  glyphicon-ok : glyphicon-remove"
                                                   class="glyphicon"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"><i id="dtlsIsFrontFace"
                                                                               class="glyphicon glyphicon-th-list"></i></span>
                                                <span class="info-box-number">Bathtub</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <a  id="addToCart" class="btn btn-lg btn-block btn-success"
                                       th:href="@{/bookings/cart/add/}+${room?.id}+@{/(checkInDate=${checkInDate},checkoutDate=${checkoutDate})}">Book This Room!</a>
                                    <!--<a th:if="${!room?.hotel?.isEnabled()}" id="addToCart" class="btn btn-lg btn-block btn-warning">-->
                                        <!--Call for Booking-->
                                    <!--</a>-->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </section>

</div>