<div th:each="vfile: ${vfiles}" class="col-lg-2 col-md-2 col-sm-3 col-xs-6">

    <div class="card">
        <div class="header">
            <h2>
                <span th:text="${vfile?.name}"></span>
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="body">
            <div>
                <small style="font-size: 10px;">Created: <span th:text="${vfile?.getCreatedAtReadable()}"></span></small><br/>
                <small style="font-size: 10px;">Last Updated: <span th:text="${vfile?.getUpdatedAtReadable()}"></span></small>
            </div>
        </div>
    </div>
</div>