<div th:each="vfolder: ${vfolders}" class="col-lg-2 col-md-2 col-sm-3 col-xs-6">

    <div class="card" th:styleappend="'background-color:'+ ${vfolder?.accentColor}">
        <div class="header">
            <h2>
                <a th:href="@{/admin/vfolders(parent_id=${vfolder?.id})}" th:text="${vfolder?.name}"></a>
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a th:href="@{/admin/vfolders/}+${vfolder?.id}+@{/update(parent_id=${vfolder?.parent?.id})}">Update</a></li>
                        <li>
                            <form method="post" th:action="@{/admin/vfolders/}+${vfolder?.id}+@{/delete}"
                                  onclick="return confirm('Are you sure?')">
                                <button type="submit" class="btn btn-link pull-right">Delete</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body" th:styleappend="'background-color:'+ ${vfolder?.accentColor}">
            Created At: <span th:text="${vfolder?.createdAt}"></span><br/>
            Updated At: <span th:text="${vfolder?.updatedAt}"></span>
        </div>
    </div>
</div>