<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/images/fav.ico}">
    <div th:include="adminlte/fragments/head"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini" th:classappend="${sidebarCollapse} ? sidebar-collapse : ''">
<div class="wrapper">

    <div th:include="adminlte/fragments/header"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <div th:include="adminlte/fragments/left_sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row col-sm-12" style="margin-left: 5px;" th:if="${param.messageinfo}">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Info!</h4>
                    <span th:if="${param.messageinfo!=null}"
                          th:text="${param.messageinfo[0]}">Danger alert preview.</span>
                </div>
            </div>
            <div class="row col-sm-12" style="margin-left: 5px;" th:if="${param.messagesuccess}">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Info!</h4>
                    <span th:if="${param.messagesuccess!=null}"
                          th:text="${param.messagesuccess[0]}">Success alert preview.</span>
                </div>
            </div>
            <div class="row col-sm-12" style="margin-left: 5px;" th:if="${param.message}">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    <p th:if="${param.message!=null}" th:text="${param.message[0]}">Danger alert preview.</p>
                </div>
            </div>

            <!--<div th:replace="@{/adminlte/}+${template}"></div>-->
            <div layout:fragment="main_content"></div>
            <!--<div th:include="adminlte/fragments/dashboard"></div>-->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:include="adminlte/fragments/footer"></div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" th:if="${hotel != null and filterValue != null}">

        <div class="tab-content">
            <div class="row" style="overflow-y: scroll; height:100vh;">
                <div class="col-sm-12" th:each="room : ${hotel?.roomList}"
                     th:classappend="${bookedIds?.contains(room?.id)} ? panel-danger : panel-primary">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header"
                             th:classappend="${bookedIds?.contains(room?.id)} ? bg-yellow : bg-aqua-active">
                            <a th:href="@{/rooms/}+${room?.id}+@{/}+${filterValue}">
                                <h3 class="widget-user-username" th:text="${room?.roomNumber}" style="color: white;">
                                    Alexander
                                    Pierce</h3>
                                <h5 class="widget-user-desc">

                        <span th:if="${bookedIds?.contains(room?.id)}">
                            <kbd th:if="${filterType != null and !filterType.equals('category')}">Booked!</kbd>
                        </span>
                                    <span th:unless="${bookedIds?.contains(room?.id)}"><kbd>Available</kbd></span>

                                </h5>
                            </a>
                        </div>
                        <div class="widget-user-image">
                            <!--<h1 style="color: white;" class="widget-user-username" th:text="${room?.roomNumber}">Alexander Pierce</h1>-->
                            <img class="img-circle" th:src="@{/rooms/}+${room?.id}+@{/image/0}" alt="User Avatar">
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <span>Price</span>
                                        <h5 class="description-header" th:text="${room?.price}">3,200</h5>
                                        <span class="description-text">TK</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <span>...</span>
                                        <h5 class="description-header"
                                            th:text="${room?.getDiscountPercentage(filterValue)}">
                                            13,000</h5>
                                        <span class="description-text">DISCOUNT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <span>Price After</span>
                                        <h5 class="description-header"
                                            th:text="${room?.getDiscountedPrice(filterValue)}">35</h5>
                                        <span class="description-text">TK</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            </div>

            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<div th:include="adminlte/fragments/foot"></div>
</body>
</html>
