[submodule "modules/appmodules/messaging"]
	path = modules/appmodules/messaging
	url = https://github.com/teambankrupt/messaging.git
	branch = master
[submodule "modules/appmodules/gentool"]
	path = modules/appmodules/gentool
	url = https://github.com/teambankrupt/gentool.git
	branch = master
[submodule "modules/coremodules/virtualfilesystem"]
	path = modules/coremodules/virtualfilesystem
	url = https://github.com/teambankrupt/virtualfilesystem.git
	branch = master
[submodule "modules/coremodules/acl"]
	path = modules/coremodules/acl
	url = https://github.com/teambankrupt/acl.git
	branch = master
[submodule "modules/coremodules/coreweb"]
	path = modules/coremodules/coreweb
	url = https://github.com/teambankrupt/coreweb.git
	branch = master
[submodule "modules/coremodules/common"]
	path = modules/coremodules/common
	url = https://github.com/teambankrupt/common.git
	branch = master
[submodule "modules/coremodules/auth"]
	path = modules/coremodules/auth
	url = https://github.com/teambankrupt/auth.git
	branch = master
[submodule "examples"]
	path = examples
	url = https://github.com/teambankrupt/examples.git
	branch = master
[submodule "scripts"]
	path = scripts
	url = https://github.com/teambankrupt/scripts.git
	branch = master
[submodule "modules/coremodules/cms"]
	path = modules/coremodules/cms
	url = https://github.com/teambankrupt/cms.git
	branch = master
[submodule "modules/coremodules/filehandler"]
	path = modules/coremodules/filehandler
	url = https://github.com/teambankrupt/filehandler.git
	branch = master
