<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">

    <div class="card">

        <div class="header">
            <h2>
                Folders <small>Description text here...</small>
            </h2>
            <a th:href="@{/admin/vfolders/create(parent_id=${parent?.id})}" class="btn btn-primary pull-right">Create
                New</a>
            <a th:href="@{/admin/vfolders}" class="btn btn-primary pull-right">Root Folder</a>
            <a th:href="@{/admin/vfolders(parent_id=${parent?.parent?.id})}" class="btn btn-primary pull-right">Parent
                Folder</a>
        </div>

        <div class="body">
            <!--            <div th:include="vfolders/tables/list"></div>-->
            <div class="row">
                <div th:include="vfolders/cards/folders"></div>
            </div>
        </div>

    </div>

    <div class="card">

        <div class="header">
            <h2>
                Files <small>Description text here...</small>
            </h2>
        </div>

        <div class="body">
            <div class="row">
                <div th:include="vfolders/cards/files"></div>
            </div>
        </div>

    </div>

</div>
</html>