<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">

    <div class="card">
        <div class="header">
            <h2>
                VFolder Details <small>Description text here...</small>
            </h2>
            <div>
                <a th:href="@{/admin/vfolders/create}" class="btn btn-primary pull-right">Create New</a>
                <a th:href="@{/admin/vfolders}" class="btn btn-primary pull-right">All VFolders</a>
                <a th:href="@{/admin/vfolders(parent_id=${vfolder?.parent?.id})}" class="btn btn-primary pull-right">Parent Folder</a>
            </div>
        </div>

        <div class="body">
            VFolders(<span th:text="${vfolder?.id}"></span>) details goes here
        </div>

    </div>

</div>
</html>