<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content">

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <button class="btn btn-success" data-toggle="modal" data-target="#modal-create-category">Create New</button>
                    <div class="box-header with-border">
                        <h3 class="box-title">All Categories</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <ul class="timeline">

                            <!-- /.timeline-label -->

                            <!-- timeline item -->
                            <li th:if="${categoryList != null}" th:each="category:${categoryList}">
                                <!--<span class="bg-red time-label">-->
                                    <!--<span th:text="${category?.getCreated()}"></span>-->
                                <!--</span>-->
                                <!-- timeline icon -->
                                <i class="fa fa-category bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> <span th:text="${category?.lastUpdated}"></span></span>

                                    <h3 class="timeline-header"><h3 th:text="${category?.name}"></h3> ...</h3>

                                    <!--<div class="timeline-body">-->
                                        <!--<div class="col-sm-12">-->
                                            <!--<div class="col-sm-6">-->
                                                <!--<div class="info-box">-->
                                            <!--<span class="info-box-icon"-->
                                                  <!--th:classappend="${category?.facilities?.frontFace}?  bg-green : bg-red">-->
                                                <!--<i th:classappend="${category?.facilities?.frontFace}?  glyphicon-ok : glyphicon-remove"-->
                                                   <!--class="glyphicon"></i>-->
                                            <!--</span>-->

                                                    <!--<div class="info-box-content">-->
                                                <!--<span class="info-box-text"><i id="dtlsIsFrontFace"-->
                                                                               <!--class="glyphicon glyphicon-th-list"></i></span>-->
                                                        <!--<span class="info-box-number">Front Face</span>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                                                <!--</div>-->
                                                <!--<div class="info-box">-->
                                            <!--<span class="info-box-icon"-->
                                                  <!--th:classappend="${category?.facilities?.withCorridor}?  bg-green : bg-red">-->
                                                <!--<i th:classappend="${category?.facilities?.withCorridor}?  glyphicon-ok : glyphicon-remove"-->
                                                   <!--class="glyphicon"></i>-->
                                            <!--</span>-->

                                                    <!--<div class="info-box-content">-->
                                                <!--<span class="info-box-text"><i id="dtlsIsFrontFace"-->
                                                                               <!--class="glyphicon glyphicon-th-list"></i></span>-->
                                                        <!--<span class="info-box-number">With Corridoor</span>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-sm-6">-->
                                                <!--<div class="info-box">-->
                                            <!--<span class="info-box-icon"-->
                                                  <!--th:classappend="${category?.facilities?.breakfast}?  bg-green : bg-red">-->
                                               <!--<i th:classappend="${category?.facilities?.breakfast}?  glyphicon-ok : glyphicon-remove"-->
                                                  <!--class="glyphicon"></i>-->
                                            <!--</span>-->

                                                    <!--<div class="info-box-content">-->
                                                <!--<span class="info-box-text"><i id="dtlsIsFrontFace"-->
                                                                               <!--class="glyphicon glyphicon-th-list"></i></span>-->
                                                        <!--<span class="info-box-number">Free Breakfast</span>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                                                <!--</div>-->
                                                <!--<div class="info-box">-->
                                            <!--<span class="info-box-icon"-->
                                                  <!--th:classappend="${category?.facilities?.internet}?  bg-green : bg-red">-->
                                               <!--<i id="dtlsIsWifi"-->
                                                  <!--th:classappend="${category?.facilities?.internet}?  glyphicon-ok : glyphicon-remove"-->
                                                  <!--class="glyphicon"></i>-->
                                            <!--</span>-->

                                                    <!--<div class="info-box-content">-->
                                                <!--<span class="info-box-text"><i id="dtlsIsFrontFace"-->
                                                                               <!--class="glyphicon glyphicon-th-list"></i></span>-->
                                                        <!--<span class="info-box-number">Wifi</span>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-sm-6">-->
                                                <!--<div class="info-box">-->
                                            <!--<span class="info-box-icon"-->
                                                  <!--th:classappend="${category?.facilities?.airConditioned}?  bg-green : bg-red">-->
                                               <!--<i id="dtlsIsAirConditioned"-->
                                                  <!--th:classappend="${category?.facilities?.airConditioned}?  glyphicon-ok : glyphicon-remove"-->
                                                  <!--class="glyphicon"></i>-->
                                            <!--</span>-->

                                                    <!--<div class="info-box-content">-->
                                                <!--<span class="info-box-text"><i id="dtlsIsFrontFace"-->
                                                                               <!--class="glyphicon glyphicon-th-list"></i></span>-->
                                                        <!--<span class="info-box-number">Air Conditioned</span>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                                                <!--</div>-->
                                                <!--<div class="info-box">-->
                                            <!--<span class="info-box-icon"-->
                                                  <!--th:classappend="${category?.facilities?.tv}?  bg-green : bg-red">-->
                                               <!--<i id="dtlsIsTv"-->
                                                  <!--th:classappend="${category?.facilities?.tv}?  glyphicon-ok : glyphicon-remove"-->
                                                  <!--class="glyphicon"></i>-->
                                            <!--</span>-->

                                                    <!--<div class="info-box-content">-->
                                                <!--<span class="info-box-text"><i id="dtlsIsFrontFace"-->
                                                                               <!--class="glyphicon glyphicon-th-list"></i></span>-->
                                                        <!--<span class="info-box-number">TV</span>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-sm-6">-->
                                                <!--<div class="info-box">-->
                                                <!--<span class="info-box-icon"-->
                                                      <!--th:classappend="${category?.facilities?.geyser}?  bg-green : bg-red">-->
                                                   <!--<i id="dtlsIsGeyser"-->
                                                      <!--th:classappend="${category?.facilities?.geyser}?  glyphicon-ok : glyphicon-remove"-->
                                                      <!--class="glyphicon"></i>-->
                                                <!--</span>-->

                                                    <!--<div class="info-box-content">-->
                                                <!--<span class="info-box-text"><i id="dtlsIsFrontFace"-->
                                                                               <!--class="glyphicon glyphicon-th-list"></i></span>-->
                                                        <!--<span class="info-box-number">Geyser</span>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="timeline-footer">
                                        <a class="btn btn-warning" style="margin-left: 30px;padding-left: 30px; padding-right: 30px;"
                                           data-toggle="modal" data-target="#modal-edit-category"
                                           th:onclick="'onCategoryItemClick(this,\'' + ${category?.id} + '\');'">Edit</a>
                                        <!--<button type="button" class="btn btn-danger" style="margin-left: 30px;padding-left: 30px; padding-right: 30px;" data-toggle="modal" id="delButtton"-->
                                                <!--data-target="#deleteCategoryModal" th:attr="data-cat-id=${category?.id}">Delete-->
                                        <!--</button>-->
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->

                            ...

                        </ul>

                        <!--<table class="table table-hover">-->
                            <!--<thead class="panel-heading">-->
                            <!--<tr>-->
                                <!--<td><h4 class="thead">ID</h4></td>-->
                                <!--<td><h4 class="thead">Name</h4></td>-->
                                <!--<td><h4 class="thead">Edit</h4></td>-->
                                <!--<td><h4 class="thead">Delete</h4></td>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr th:if="${categoryList != null}" th:each="category:${categoryList}">-->

                                <!--<td><h4><span th:text="${category?.id}"></span></h4></td>-->
                                <!--<td>-->
                                    <!--<div class="col-sm-12">-->
                                        <!--<div class="box box-default collapsed-box">-->
                                            <!--<div class="box-header with-border">-->
                                                <!--<h3 class="box-title"><h4><span th:text="${category?.name}"></span></h4></h3>-->

                                                <!--<div class="box-tools pull-right">-->
                                                    <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                                <!--&lt;!&ndash; /.box-tools &ndash;&gt;-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
                                            <!--<div class="box-body">-->
                                                <!--The body of the box-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash; /.box &ndash;&gt;-->
                                    <!--</div>-->

                                <!--</td>-->
                                <!--<td><button class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-category"-->
                                       <!--th:onclick="'onCategoryItemClick(this,\'' + ${category?.id} + '\');'">Edit</button></td>-->
                                <!--<td>-->
                                    <!--<button type="button" class="btn btn-danger" data-toggle="modal" id="delButtton"-->
                                            <!--data-target="#deleteCategoryModal" th:attr="data-cat-id=${category?.id}">Delete-->
                                    <!--</button>-->
                                <!--</td>-->

                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    </div>
                    <!-- /.box-body -->
                    <!--<div class="box-footer clearfix">-->
                        <!--<ul class="pagination pagination-sm no-margin pull-right">-->
                            <!--<li><a href="#">&laquo;</a></li>-->
                            <!--<li><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">&raquo;</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <!--MODALS-->
        <div>
            <!--CREATE ROOM MODAL-->
            <div th:include="adminlte/fragments/category/admin/createCategoryModal"></div>
            <!--EDIT ROOM MODAL-->
            <div th:include="adminlte/fragments/category/admin/editCategoryModal"></div>
        </div>

    </section>
</div>
