<div class="modal fade" id="modal-create-category">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <!--<h4 class="modal-title">Create Room</h4>-->
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create Category</h3>
                    </div>
                    <form th:action="@{/admin/categories/create}" method="post" enctype="multipart/form-data">

                        <div id="new_category">
                            <div class="form-group" data-wow-delay=".5s">
                                <h4>Image1</h4>
                                <input name="images" id="image1" class="fadeInDown animated" type="file"></input>
                                <h4>Image2</h4>
                                <input name="images" id="image2" class="fadeInDown animated" type="file"></input>
                                <h4>Image3</h4>
                                <input name="images" id="image3" class="fadeInDown animated" type="file"></input>
                            </div>

                            <div class="form-group" data-wow-delay=".5s">
                                <label for="catName">Category Name:</label>
                                <input name="name" id="catName" class="form-control" type="text" placeholder="Category Name"
                                       required="required"></input>
                            </div>
                            <div class="form-group" data-wow-delay=".5s">
                                <label for="maxChildNumber">Maximum Child Number:</label>
                                <input name="maxChildNumber" id="maxChildNumber" class="form-control" type="number"
                                       placeholder="Maximum Child Number"
                                       required="required"></input>
                            </div>
                            <div class="form-group" data-wow-delay=".5s">
                                <label for="maxAdultNumber">Maximum Adult Number:</label>
                                <input name="maxAdultNumber" id="maxAdultNumber" class="form-control" type="number"
                                       placeholder="Maximum Adult Number"
                                       required="required"></input>
                            </div>

                        </div>

                        <br/><br/>
                        <input class="btn btn-success btn-block" type="submit" value="CREATE CATEGORY"></input>
                    </form>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                <!--</div>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>