<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content-header">
        <h1>
            Canceled Bookings
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Canceled Booking</li>
        </ol>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-sm-12">
                <div class="box">

                    <div class="box-header with-border">
                        <div class="col-sm-4">
                            <h3 class="box-title" sec:authorize="hasRole('ROLE_USER')">
                                <a th:href="@{/bookings}">My Bookings</a>
                            </h3>
                            <h3 class="box-title" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/bookings}">All Bookings</a>
                            </h3>
                            |
                            <h3 class="box-title">
                                <a th:href="@{/bookings/canceled}">Canceled Bookings</a>
                            </h3>
                        </div>
                    </div>

                    <table class="table table-bordered">
                        <tr>
                            <th>Sl</th>
                            <th>Booking ID</th>
                            <th sec:authorize="!hasRole('ROLE_HOTEL_ADMIN')">Hotel Name</th>
                            <th sec:authorize="!hasRole('ROLE_USER')">User's Name</th>
                            <th>Rooms</th>
                            <!--<th>Total Rooms</th>-->
                            <th>Room Rent</th>
                            <th sec:authorize="hasRole('ROLE_USER')">You Saved</th>
                            <!--<th>Placed On</th>-->
                        </tr>
                        <tr th:if="${bookingList != null}" th:each="booking,iter : ${bookingList}">
                            <td th:text="${iter.index+1}"></td>
                            <td th:text="${booking?.id}"></td>
                            <td sec:authorize="!hasRole('ROLE_HOTEL_ADMIN')">
                                <a th:href="@{/bookings/}+${booking?.id}">
                                    <h5 th:text="${booking?.hotel?.name}"></h5> (<span style="color: red;">Canceled</span>)
                                </a>
                            </td>
                            <td sec:authorize="!hasRole('ROLE_USER')">
                                <span th:if="${!booking?.manualBooking}" th:text="${booking?.user?.name}"></span>
                                <span th:if="${booking?.manualBooking}" th:text="${booking?.hotel?.name}"></span>
                            </td>
                            <td th:text="${booking?.getRoomNumbersString()}"></td>
                            <td>৳<span th:text="${booking?.getTotalPayableCost()}"></span></td>
                            <td sec:authorize="hasRole('ROLE_USER')"><span class="badge bg-green"
                                                                           th:text="${booking?.getTotalDiscountPercentage()}">90%</span>
                            </td>
                            <!--<td th:text="${booking?.getReadableDateTime(booking?.getTime())}"><h4></h4></td>-->
                            <td>
                                <a th:href="@{/bookings/}+${booking?.id}" class="btn btn-primary">Details</a>
                                <!--<a sec:authorize="!hasAnyRole('ROLE_ADMIN','ROLE_HOTEL_ADMIN')" class="btn btn-success"-->
                                   <!--th:href="@{/reviews/hotel/}+${booking?.hotel?.id}+@{/create}">Write a-->
                                    <!--review</a>-->
                                <!--<a class="btn btn-info" th:href="@{/invoices/generate/}+${booking?.id}">Generate Invoice</a>-->
                                <form class="form pull-right" th:action="@{/bookings/cancel/}+${booking?.id}" method="post">
                                    <button class="btn btn-warning"
                                            onsubmit="return confirm('Do you really want to cancel this booking?');"
                                            th:disabled="${!booking?.isCancelable()}">Cancel
                                    </button>
                                </form>
                            </td>

                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>