<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">
<div layout:fragment="main_content">

    <section class="invoice" xmlns:th="http://www.w3.org/1999/xhtml">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Hotels BD
                    <small class="pull-right" th:text="${invoice?.getReadableDate(invoice?.created)}">Date: 2/10/2014</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="box">

                <form class="form" th:action="@{/bookings/checkout/assignUser}" method="get">
                    <div class="form-group">
                        <label for="searchQuery">Select User:</label>
                        <input class="form-control" id="searchQuery" type="text" name="searchQuery" placeholder="Search by email or phone number" required="required"></input>
                        <button class="btn btn-block btn-primary" type="submit">Search</button>
                    </div>
                </form>

                <div class="box-header with-border">
                    <h3 class="box-title">Matched Users</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--<a class="btn btn-success" th:href="@{/admin/hotels/create}">Create New Hotel</a>-->
                    <table class="table table-hover" th:if="${userList != null}">
                        <tr>
                        <tr>
                            <!--<td><b>Image</b></td>-->
                            <td>Name</td>
                            <td>Email</td>
                            <td>Address</td>
                            <td>Select</td>
                        </tr>
                        </tr>
                        <tr th:each="user:${userList}" th:if="${user?.hasAssignedRole('ROLE_USER')}" th:classappend="${!user?.isEnabled()? 'danger':''}">
                            <!--<td>-->
                            <!--<img class="img-circle" height="40" width="60"-->
                            <!--th:src="@{/admin/users/images/}+${user?.id}"></img>-->
                            <!--</td>-->
                            <td>
                                <span th:text="${user?.name}"></span><br/>
                                <label class="label label-primary" th:if="${user?.hasAssignedRole('ROLE_USER')}">User</label>
                            </td>
                            <td th:text="${user?.email}"></td>
                            <td th:text="${user?.address?.getCommaSeperatedString()}"></td>
                            <td>
                                <form th:action="@{/bookings/checkout/assignUser}" method="post">
                                    <input type="hidden" name="userId" th:value="${user?.id}"></input>
                                    <button th:disabled="${user?.hasAssignedRole('ROLE_ADMIN')}" class="btn btn-success" type="submit">Select</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
</div>