<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content">

        <div class="row">

            <div class="col-sm-4">

                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow">
                        <!--<div class="widget-user-image">-->
                        <!--<img class="img-circle" th:src="@{/hotels/images/}+${hotel?.id}" alt="User Avatar">-->
                        <!--</div>-->
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username" th:text="${user?.name}"></h3>
                        <!--<h5 class="widget-user-desc" th:text="${user?.email}">Lead-->
                        <!--Developer</h5>-->
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">

                            <li><a href="#">Email: <span class="pull-right badge bg-green"
                                                         th:text="${user?.email}"></span></a></li>
                            <li><a href="#">Phone Number: <span class="pull-right badge bg-green"
                                                                th:text="${user?.phoneNumber}"></span></a></li>
                            <li><a href="#">Country: <span class="pull-right badge bg-green"
                                                           th:text="${user?.address?.country}"></span></a></li>
                            <li><a href="#">City: <span class="pull-right badge bg-green"
                                                        th:text="${user?.address?.city}"></span></a></li>
                            <li><a href="#">District: <span class="pull-right badge bg-green"
                                                            th:text="${user?.address?.district}"></span></a></li>
                            <li><a href="#">Upazila: <span class="pull-right badge bg-green"
                                                           th:text="${user?.address?.upazila}"></span></a></li>
                            <li><a href="#">Area: <span class="pull-right badge bg-green"
                                                        th:text="${user?.address?.area}"></span></a></li>
                            <li><a href="#">Enabled <span class="pull-right badge bg-red"
                                                          th:text="${user?.isEnabled()? 'Yes':'No'}">842</span></a>
                            </li>

                            <li th:if="${user?.hasAssignedRole('ROLE_AGENT')}"><a href="#">
                                <h3 class="text text-danger">This user is an Agent</h3></a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3>Edit Profile</h3>
                    </div>
                    <div class="box-body">

                        <form th:action="@{/admin/users/edit/}+${user?.id}" method="post">

                            <div hidden="hidden">
                                <input type="hidden" th:value="${user?.id}" name="id">
                            </div>

                            <div class="form-group has-feedback">
                                <label for="name">Your name</label>
                                <input th:value="${user?.name}" name="name" id="name" class="form-control" type="text" placeholder="Name"
                                       required="required"></input>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email">Email</label>
                                <input th:value="${user?.email}" readonly="readonly" name="email" id="email" class="form-control" type="text"
                                       placeholder="Email" required="required"></input>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="phoneNumber">Phone Number</label>
                                <input th:value="${user?.phoneNumber}" name="phoneNumber" id="phoneNumber" class="form-control" type="text"
                                       placeholder="Users Phone Number" required="required"></input>
                            </div>

                            <div th:if="${user?.hasAssignedRole('ROLE_USER')}" class="form-group has-feedback">
                                <label style="color: darkred;">Is He/She an Agent?</label>
                                <input name="isAgent" th:checked="${user?.hasAssignedRole('ROLE_AGENT')}" type="checkbox"></input>
                            </div>

                            <label for="address">Address:</label>
                            <div id="address">
                                <div class="form-group col-xs-6 form-left has-feedback">
                                    <input th:value="${user?.address?.country}" name="address.country" class="form-control" type="text" placeholder="Country"
                                           required="required"></input>
                                </div>
                                <div class="form-group col-xs-6 form-right has-feedback">
                                    <input th:value="${user?.address?.city}" name="address.city" class="form-control" type="text" placeholder="City"
                                           required="required"></input>
                                </div>
                                <div class="form-group col-xs-6 form-left has-feedback">
                                    <input th:value="${user?.address?.district}" name="address.district" class="form-control" type="text" placeholder="District"
                                           required="required"></input>
                                </div>
                                <div class="form-group col-xs-6 form-right has-feedback">
                                    <input th:value="${user?.address?.upazila}" name="address.upazila" class="form-control" type="text" placeholder="Upazila"
                                           required="required"></input>
                                </div>
                                <div class="form-group col-xs-6 form-left has-feedback">
                                    <input th:value="${user?.address?.area}" name="address.area" class="form-control" type="text" placeholder="Area"
                                           required="required"></input>
                                </div>
                            </div>
                            <div class="row">
                                <!-- /.col -->
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>


    </section>

</div>