<!-- Jquery Core Js -->
<script th:src="@{/material/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/material/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Select Plugin Js -->
<script th:src="@{/material/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

<!-- Slimscroll Plugin Js -->
<script th:src="@{/material/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/material/plugins/node-waves/waves.js}"></script>

<!-- Jquery CountTo Plugin Js -->
<script th:src="@{/material/plugins/jquery-countto/jquery.countTo.js}"></script>

<!-- Morris Plugin Js -->
<script th:src="@{/material/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/material/plugins/morrisjs/morris.js}"></script>

<!-- ChartJs -->
<script th:src="@{/material/plugins/chartjs/Chart.bundle.js}"></script>

<!-- Flot Charts Plugin Js -->
<script th:src="@{/material/plugins/flot-charts/jquery.flot.js}"></script>
<script th:src="@{/material/plugins/flot-charts/jquery.flot.resize.js}"></script>
<script th:src="@{/material/plugins/flot-charts/jquery.flot.pie.js}"></script>
<script th:src="@{/material/plugins/flot-charts/jquery.flot.categories.js}"></script>
<script th:src="@{/material/plugins/flot-charts/jquery.flot.time.js}"></script>

<!-- Sparkline Chart Plugin Js -->
<script th:src="@{/material/plugins/jquery-sparkline/jquery.sparkline.js}"></script>

<!-- Custom Js -->
<script th:src="@{/material/js/admin.js}"></script>
<script th:src="@{/material/js/pages/index.js}"></script>

<!-- Select Plugin Js -->
<script th:src="@{/material/plugins/bootstrap-select/js/bootstrap-select.js}"></script>
<!-- Multi Select Plugin Js -->
<script th:src="@{/material/plugins/multi-select/js/jquery.multi-select.js}"></script>

<!-- Demo Js -->
<script th:src="@{/material/js/demo.js}"></script>
