<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content-header">
        <h1>
            <span>Packages</span>
            <!--<small>Control panel</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/packages}">Packages</a></li>
            <li><a th:href="@{/packages/}+${pckg?.id}">Details</a></li>
        </ol>
    </section>


    <section class="content">
        <div class="row package-page-row">
            <div class="col-sm-8 package-page-components">
                <div class="component-box">
                    <div class="box-image">
                        <img th:src="@{/packages/image/}+${pckg?.id}" th:alt="${pckg?.title}" class="package-page-image" >
                    </div>
                </div>
                <!--<div class="package-page-side-bar-title">-->
                    <!--<span class="headline" th:text="${pckg?.title}"></span>-->
                    <!--<div th:if="${pckg?.spots !=null and !pckg?.spots.empty}">-->
                        <!--<strong>Spots: </strong><span th:text="${pckg?.spots}"></span>-->
                    <!--</div>-->
                    <!--<div th:if="${pckg?.category !=null and !pckg?.category?.empty}">-->
                        <!--<strong>Category: </strong>-->
                        <!--<span th:text="${pckg?.category}"></span><br/>-->
                    <!--</div>-->
                    <!--<div th:if="${pckg?.duration !=null and !pckg?.duration?.empty}">-->
                        <!--<strong>Duration: </strong>-->
                        <!--<span th:text="${pckg?.duration}"></span><br/>-->
                    <!--</div>-->
                    <!--<hr/>-->
                <!--</div>-->
                <div class="component-box-body">
                    <div class="component-box-body-title">
                        <span th:text="${pckg?.title}"></span>
                        <div th:if="${pckg?.category != null and !pckg?.category?.empty}" class="pull-right" style="margin-right: 20px;">
                            Category : <span th:text="${pckg?.category}"></span>
                        </div>
                    </div>

                    <h5 th:if="${pckg?.date != null}" style="margin-top: 10px;">
                        <strong>Tour Date : </strong>
                        <span th:text="${pckg?.getReadableDate(pckg?.date)}"></span>
                    </h5>

                    <h5 th:if="${pckg?.lastBookingDate != null}" style="margin-top: 10px;">
                        <strong>Last Booking Date : </strong>
                        <span th:text="${pckg?.getReadableDate(pckg?.lastBookingDate)}"></span>
                    </h5>
                    <div th:if="${pckg?.price != null}">
                        <strong>Price: </strong>
                        ৳<span th:text="${pckg?.price}"></span>
                    </div>
                    <div th:if="${pckg?.link != null}">
                        <strong>Link: </strong>
                        <span th:text="${pckg?.link}"></span>
                    </div>
                    <h5 th:if="${pckg?.timeDistribution != null and !pckg?.timeDistribution?.empty}" style="margin-top: 10px;">
                        <strong>Time Distribution</strong><br/>
                        <span th:text="${pckg?.timeDistribution}"></span>
                    </h5>

                    <h5 th:if="${pckg?.exclude != null and !pckg?.exclude?.empty}" style="margin-top: 10px;">
                        <strong>Details : </strong>
                        <span  th:utext="${pckg?.getDescriptionHtml()}"></span>
                    </h5>

                    <h5 th:if="${pckg?.include != null and !pckg?.include?.empty}" style="margin-top: 10px;">
                        <strong>This Package includes : </strong>
                        <br/><span th:text="${pckg?.include}"></span>
                    </h5>

                    <h5 th:if="${pckg?.exclude != null and !pckg?.exclude?.empty}" style="margin-top: 10px;">
                        <strong>This Package doesn't includes : </strong>
                        <br/><span th:text="${pckg?.exclude}"></span>
                    </h5><hr/>

                </div>

            </div>
            <div class="col-sm-4 ">

                <div class="package-page-side-bar">

                    <div class="package-page-side-bar-other-location">
                        <span class="other-headline"><i class="fa fa-map-marker" aria-hidden="true"></i> You may also like</span>
                    </div>

                    <div class="other-package-box" th:each="p: ${pckgList}">
                        <a th:href="@{/packages/}+${p?.id}">
                            <div class="col-sm-4 other-package-image-container">
                                <img th:src="@{/packages/image/}+${p?.id}" alt="" class="img-responsive " />
                            </div>
                            <div class="col-sm-8 other-package-text">
                                <span class="headline" th:text="${p?.title}"></span>
                                <span  th:text="${p?.duration}"></span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="package-page-side-bar-title-gap" >  </div>
                <div class="assistance-div">
                    <div class="assistance-div-title">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        Need Help?
                    </div>
                    <div class="assistance-div-text">
                        <a target="_self" data-action="url" class="moto-link" href="callto:#">
                            &nbsp;<i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;&nbsp; 01840477707
                        </a> <br/>
                        <a target="_self" data-action="url" class="moto-link" href="callto:#">
                            &nbsp;<i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;&nbsp; 01840477759
                        </a> <br/>
                        <a href="mailto:Firti@gmail.com">
                            <i class="fa fa-envelope"></i> &nbsp;Firti@gmail.com
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

</div>