<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="material/fragments/head"></div>
</head>

<body class="login-page">
<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">Demo<b>App</b></a>
        <small>This is a Demo App subtitle that no one cares about</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in" th:action="@{/login}" method="post">
                <div class="msg">Sign in to start your session</div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="username" placeholder="Username" required
                               autofocus>
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a th:href="@{/register}">Register Now!</a>
                    </div>
                    <div class="col-xs-6 align-right">
                        <a th:href="@{/resetPassword}">Forgot Password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:include="material/fragments/foot"></div>
</body>

</html>
