<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content-header">
        <h1>
            <span th:if="${'Hotel'.equals(hotelType)}">All Hotels (Admin)</span>
            <span th:if="${'Ship'.equals(hotelType)}">All Ships (Admin)</span>
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/admin/hotels}">All Hotels(Admin)</a></li>
        </ol>
    </section>
    <section class="content">

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="col-sm-8">
                            <h3 class="box-title">All <span th:if="${!'Both'.equals(hotelType)}" th:text="${hotelType}">Hotels</span></h3>
                        </div>
                        <div class="col-sm-4">
                            <form class="form" th:action="@{/admin/hotels}" method="get">
                                <input type="hidden" name="filterType" value="hotelName">
                                <datalist id="hotels" th:if="${hotelList!=null}">
                                    <option th:each="hotel : ${hotelList}" th:value="${hotel?.name}" th:text="${hotel?.name}"></option>
                                    <!--<option th:value="chaal">Saint Martins</option>-->
                                </datalist>
                                <input class="form-control" type="text" name="filterValue" placeholder="Hotel Name" list="hotels">
                            </form>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <button th:if="${!'Both'.equals(hotelType)}" class="btn btn-success" data-toggle="modal" data-target="#modal-create-hotel">Create New <span th:text="${hotelType}">Hotel</span></button>
                        <table class="table table-hover">
                            <tr>
                                <td>Image</td>
                                <td>Name</td>
                                <td>Type</td>
                                <td>Address</td>
                                <td>Created</td>
                                <td>Last Updated</td>
                                <td>Actions</td>
                                <td>Edit</td>
                                <!--<td>Delete</td>-->
                            </tr>
                            <tr th:each="hotel:${hotelList}" th:classappend="${hotel?.user?.isEnabled()}? '' : 'danger'">
                                <td>
                                    <img class="img-circle" height="40" width="60"
                                         th:src="@{/hotels/}+${hotel?.id}+@{/image/0}"></img>
                                </td>
                                <td>
                                    <a th:href="@{/admin/hotels/}+${hotel?.id}">
                                        <span th:text="${hotel?.name}"></span><br/>
                                        <span class="badge badge-warning" th:if="${!hotel?.user?.isEnabled()}">Disabled</span>
                                    </a>
                                </td>
                                <td><kbd th:text="${hotel?.type}"></kbd></td>
                                <td><span th:text="${hotel?.address?.getCommaSeperatedString()}"></span></td>
                                <td><span th:text="${hotel?.getReadableDateTime(hotel.getCreated())}"></span></td>
                                <td><span th:text="${hotel?.getReadableDateTime(hotel.getLastUpdated())}"></span></td>
                                <td>
                                    <form th:action="@{/admin/hotels/}+${hotel?.getId()}+@{/action(enabled=${!hotel?.user?.isEnabled()})}"
                                          method="post">
                                        <button class="btn btn-primary" th:disabled="${hotel?.user?.hasAssignedRole('ROLE_ADMIN')}"
                                                th:text="${hotel?.user?.isEnabled()}? 'Disable' : 'Enable'"
                                                th:classappend="${hotel?.user?.isEnabled()}? 'btn-warning' : 'btn-success'"></button>
                                    </form>
                                </td>
                                <td><a class="btn btn-info" data-toggle="modal" data-target="#modal-edit-hotel"
                                       th:onclick="'onHotelItemClick(this,\'' + ${hotel?.id} + '\');'">Edit</a></td>
                                <td>
                                    <form th:action="@{/admin/hotels/softdelete/}+${hotel?.getId()}"
                                          method="post">
                                        <button class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                                    </form>
                                </td>
                                <!--<td>-->
                                    <!--<form th:action="@{/admin/hotels/delete/}+${hotel.getId()}"-->
                                          <!--onsubmit="return confirm('Do you really want to delete this article?');" method="post">-->
                                        <!--<button class="btn btn-danger" type="submit">Delete</button>-->
                                    <!--</form>-->
                                <!--</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pager pull-right" style="margin-right: 10px;">
                            <li class="previous"><a th:hidden="${page==0}"
                                                    th:href="@{/admin/hotels(page=${page-1},type=${hotelType})}">Previous</a>
                            </li>
                            <li class="next"><a
                                    th:hidden="${hotelList == null || hotelList.isEmpty()}"
                                    th:href="@{/admin/hotels(page=${page+1},type=${hotelType})}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--MODALS-->
        <div>
            <!--CREATE ROOM MODAL-->
            <div th:include="adminlte/fragments/hotel/admin/createHotelModal"></div>
            <!--EDIT ROOM MODAL-->
            <div th:include="adminlte/fragments/hotel/admin/editHotelModal"></div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--&lt;!&ndash; Donut chart &ndash;&gt;-->
                <!--<div class="box box-primary">-->
                    <!--<div class="box-header with-border">-->
                        <!--<i class="fa fa-bar-chart-o"></i>-->

                        <!--<h3 class="box-title">Search</h3>-->

                        <!--<div class="box-tools pull-right">-->
                            <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i-->
                                    <!--class="fa fa-minus"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="box-body">-->
                        <!--<div>-->
                            <!--<form class="form" th:action="@{/search}" method="get">-->
                                <!--<datalist id="places">-->
                                    <!--<option th:each="area : ${areaList}" th:value="${area}" th:text="${area}">Coxs Bazar-->
                                    <!--</option>-->
                                <!--</datalist>-->
                                <!--<div class="from-group">-->
                                    <!--<label for="place" class="label label-primary">SEARCH</label>-->
                                    <!--<input style="height: 50px;" id="place" name="query" list="places" class="form-control"-->
                                           <!--required="required" th:value="${query}"></input>-->
                                <!--</div>-->
                                <!--<button style="margin-top: 20px;" class="form-control btn btn-default" type="submit"><i-->
                                        <!--style="margin-right: 10px;" class="glyphicon glyphicon-search"></i>Search-->
                                <!--</button>-->
                            <!--</form>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<h2>Filter</h2>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<div>-->
                                <!--<label for="starFilterDiv" class="label label-primary">BY STAR</label>-->
                                <!--<div id="starFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">-->
                                    <!--<form class="form" th:action="@{/hotels}" id="starFilterForm" method="get">-->
                                        <!--<input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>-->
                                        <!--<input name="filterType" type="hidden" th:value="star"></input>-->
                                        <!--<select class="form-control" name="filterValue" id="starFilter">-->
                                            <!--<option th:value="1" th:selected="${filterValue?.equals('1')}">1 Star-->
                                            <!--</option>-->
                                            <!--<option th:value="2" th:selected="${filterValue?.equals('2')}">2 Star-->
                                            <!--</option>-->
                                            <!--<option th:value="3" th:selected="${filterValue?.equals('3')}">3 Star-->
                                            <!--</option>-->
                                            <!--<option th:value="4" th:selected="${filterValue?.equals('4')}">4 Star-->
                                            <!--</option>-->
                                            <!--<option th:value="5" th:selected="${filterValue?.equals('5')}">5 Star-->
                                            <!--</option>-->
                                            <!--<option th:value="6" th:selected="${filterValue?.equals('6')}">6 Star-->
                                            <!--</option>-->
                                            <!--<option th:value="7" th:selected="${filterValue?.equals('7')}">7 Star-->
                                            <!--</option>-->
                                        <!--</select>-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div style="margin-top: 10px;margin-bottom: 10px;">-->
                                <!--<label for="priceFilterDiv" class="label label-primary">BY PRICE</label>-->
                                <!--<div id="priceFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">-->
                                    <!--<form class="form" th:action="@{/hotels/}" id="priceFilterForm" method="get">-->
                                        <!--<input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>-->
                                        <!--<input name="filterType" type="hidden" th:value="price"></input>-->
                                        <!--<select class="form-control" name="filterValue" id="priceFilter">-->
                                            <!--<option th:value="100x1000"-->
                                                    <!--th:selected="${filterValue?.equals('100x1000')}">-->
                                                <!--100-1000-->
                                            <!--</option>-->
                                            <!--<option th:value="1000x10000"-->
                                                    <!--th:selected="${filterValue?.equals('1000x10000')}">-->
                                                <!--1000-10000-->
                                            <!--</option>-->
                                            <!--<option th:value="10000x50000"-->
                                                    <!--th:selected="${filterValue?.equals('10000x50000')}">-->
                                                <!--10000-50000-->
                                            <!--</option>-->
                                        <!--</select>-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.box-body&ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.box &ndash;&gt;-->
            <!--</div>-->

            <!--<div class="col-md-8">-->
                <!--<div class="box box-primary">-->
                    <!--<div class="box-header with-border">-->
                        <!--<i class="fa fa-bar-chart-o"></i>-->

                        <!--<h3 class="box-title">Hotels</h3>-->

                        <!--<div class="box-tools pull-right">-->
                            <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i-->
                                    <!--class="fa fa-minus"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
                    <!--<div class="box-body">-->
                        <!--<table class="table table-hover table-striped">-->
                            <!--&lt;!&ndash;<li><i class="phon">Hotel Id</i><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span th:text="${hotel?.id}"></span></li>&ndash;&gt;-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th><h3>Image</h3></th>-->
                                <!--<th>-->
                                    <!--<i>-->
                                        <!--<i th:if="${isDesc}" class="glyphicon glyphicon-chevron-down"></i>-->
                                        <!--<i th:if="${!isDesc}" class="glyphicon glyphicon-chevron-up"></i>-->
                                        <!--<h3><a th:href="@{/hotels?sortBy=name&amp;isDesc=}+${isDesc}">Name</a></h3>-->
                                    <!--</i>-->
                                <!--</th>-->
                                <!--<th>-->
                                    <!--<h3>Address</h3>-->
                                <!--</th>-->
                                <!--<th>-->
                                    <!--<i>-->
                                        <!--<i th:if="${isDesc}" class="glyphicon glyphicon-chevron-down"></i>-->
                                        <!--<i th:if="${!isDesc}" class="glyphicon glyphicon-chevron-up"></i>-->
                                        <!--<h3><a th:href="@{/hotels?sortBy=phoneNumber&amp;isDesc=}+${isDesc}">Contact</a>-->
                                        <!--</h3>-->
                                    <!--</i>-->
                                <!--</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr th:each="hotel : ${hotelList}">-->
                                <!--<td>-->
                                    <!--<img style="margin-top: 20px;" height="100" width="100"-->
                                         <!--th:src="@{/hotels/images/}+${hotel?.id}"-->
                                         <!--class="img-responsive zoom-img"-->
                                         <!--alt=""></img>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<i class="phon">-->
                                        <!--<h3>-->
                                            <!--<a th:href="@{/hotels/}+${hotel?.id}" th:text="${hotel?.name}"></a>-->
                                        <!--</h3>-->
                                    <!--</i><br/>-->
                                    <!--<h4 th:text="${hotel?.description}">info@moninfotech.com</h4>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>-->
                                    <!--<h5 th:text="${hotel?.address?.getCommaSeperatedString()}"></h5>-->
                                <!--</td>-->
                                <!--<td><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>-->
                                    <!--<h4 th:text="${hotel?.phoneNumber}"></h4>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; /.box &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

    </section>
</div>
