<div class="modal fade" id="modal-create-hotel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <!--<h4 class="modal-title">Create Room</h4>-->
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create <span th:text="${hotelType}">New</span></h3>
                    </div>
                        <form th:action="@{/admin/hotels/create}" method="post" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name"><span th:text="${hotelType}"></span> Name</label>
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Hotel/Ship Name" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="accomodationType">Accomodation Type</label>
                                    <select id="accomodationType" class="form-control" name="accomodationType">
                                        <option value="Hotel">Hotel</option>
                                        <option value="Resort">Resort</option>
                                        <option value="Apartment">Apartment</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="star">Star</label>
                                    <select id="star" class="form-control" name="star">
                                        <option value="not applicable">N/A</option>
                                        <option value="1 star">1 Star</option>
                                        <option value="2 star">2 Star</option>
                                        <option value="3 star standard">3 Star Standard</option>
                                        <option value="3 star">3 Star</option>
                                        <option value="4 star">4 Star</option>
                                        <option value="5 star">5 Star</option>
                                        <option value="resort">Resort</option>
                                        <option value="AC">AC</option>
                                        <option value="NON AC">NON AC</option>
                                        <option value="beach resort">Beach Resort</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select id="type" class="form-control" name="type">
                                        <option th:selected="${'Hotel'.equals(hotelType)}" value="Hotel">Hotel</option>
                                        <option th:selected="${'Ship'.equals(hotelType)}" value="Ship">Ship</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="discount">Discount</label>
                                    <input class="form-control" name="discount" id="discount" type="number" min="0" max="100" step="1" placeholder="Discount" required="required"/>
                                </div>

                                <!--Facilities-->
                                <div class="col-md-6 form-left">
                                    <input name="facilities.restaurant" class="checkbox" type="checkbox">Restaurant</input>
                                </div>

                                <div class="col-md-6 form-right">
                                    <input name="facilities.lift" class="checkbox" type="checkbox">Lift</input>
                                </div>

                                <div class="col-md-6 form-left">
                                    <input name="facilities.wifi" class="checkbox" type="checkbox">Wifi</input>
                                </div>

                                <div class="col-md-6 form-right">
                                    <input name="facilities.conferenceRoom" class="checkbox" type="checkbox">Conference Room</input>
                                </div>

                                <div class="col-md-6 form-left">
                                    <input name="facilities.swimingPool" class="checkbox" type="checkbox">Swiming Pool</input>
                                </div>

                                <div class="col-md-6 form-right">
                                    <input name="facilities.sportsZone" class="checkbox" type="checkbox">Sports Zone</input>
                                </div>

                                <div class="col-md-6 form-left">
                                    <input name="facilities.gym" class="checkbox" type="checkbox">Gymnesiam</input>
                                </div>

                                <div class="col-md-6 form-right">
                                    <input name="facilities.spa" class="checkbox" type="checkbox">SPA</input>
                                </div>

                                <div class="col-md-6 form-left">
                                    <input name="facilities.bar" class="checkbox" type="checkbox">Bar</input>
                                </div>


                                <div class="col-md-6 form-right">
                                    <input name="facilities.helipad" class="checkbox" type="checkbox">Helipad</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.ac" class="checkbox" type="checkbox">AC</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.frontDesk" class="checkbox" type="checkbox">24 Hours Frontdesk</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.roomService" class="checkbox" type="checkbox">24 Hours Room Service</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.electricity" class="checkbox" type="checkbox">24 Hours Electricity</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.security" class="checkbox" type="checkbox">24 Hours Security</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.complementaryBreakfast" class="checkbox" type="checkbox">Complementary Breakfast</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.coffeeShop" class="checkbox" type="checkbox">Coffee Shop</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.freeParking" class="checkbox" type="checkbox">Free Parking</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.airportTransportation" class="checkbox" type="checkbox">Airport Transportation</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.businessCenter" class="checkbox" type="checkbox">Business Center</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.meetingRoom" class="checkbox" type="checkbox">Meeting Room</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.doctorOnCall" class="checkbox" type="checkbox">Doctor On Call</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.wakeupService" class="checkbox" type="checkbox">Wakeup Service</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.wheelChairAccessible" class="checkbox" type="checkbox">Wheel Chair Accessible</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.safeDepositBox" class="checkbox" type="checkbox">Safe Deposit Box</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.nonSmokingRoom" class="checkbox" type="checkbox">Non Smoking Room</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.vipFloor" class="checkbox" type="checkbox">VIP Floor</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.acceptCreditCard" class="checkbox" type="checkbox">Accept Credit Card</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.newspaper" class="checkbox" type="checkbox">Newspaper</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.laundry" class="checkbox" type="checkbox">Laundry</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.lobby" class="checkbox" type="checkbox">Lobby</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.foreignExchange" class="checkbox" type="checkbox">Foreign Exchange</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.executiveLaunge" class="checkbox" type="checkbox">Executive Launge</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.babySitting" class="checkbox" type="checkbox">Baby Sitting</input>
                                </div>
                                <div class="col-md-6 form-right">
                                    <input name="facilities.freeCancellation" class="checkbox" type="checkbox">Free Cancellation</input>
                                </div>
                                <!--<div class="col-md-6 form-right">-->
                                    <!--<input onclick="return false;" class="checkbox" type="checkbox"></input>-->
                                <!--</div>-->

                                <label for="address" style="margin-top: 20px;"><span th:text="${hotelType}"></span> Address</label><hr/>
                                <div class="form-group" id="address">
                                    <div class="col-sm-6 form-group">
                                        <label for="address.country">Country (Required)</label>
                                        <input class="form-control" name="address.country" id="address.country" type="text" placeholder="Country" required="required"></input>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label for="address.city">City</label>
                                        <input class="form-control" name="address.city" id="address.city" type="text" placeholder="City"></input>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label for="address.district">District</label>
                                        <input name="address.district" class="form-control" id="address.district" type="text" placeholder="District"></input>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label for="address.upazila">Upazila (Required)</label>
                                        <input name="address.upazila" class="form-control" id="address.upazila" type="text" placeholder="Upazila" required="required"></input>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label for="address.area">Area (Required)</label>
                                        <input name="address.area" class="form-control" id="address.area" type="text" placeholder="Area" required="required"></input>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <label for="address.mapDirectionFrom">Area from where direction will be shown (Required)</label>
                                        <input name="address.mapDirectionFrom" class="form-control" id="address.mapDirectionFrom" type="text" placeholder="Direction From" required="required"></input>
                                    </div>
                                </div>

                                <hr/><h3>Extra</h3><hr/>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input name="phoneNumber" class="form-control" id="phone" type="text" placeholder="Phone"
                                       required=""></input>
                                </div>
                                <div class="form-group">
                                    <label for="description"><span th:text="${hotelType}">Hotel</span> Description</label>
                                    <textarea name="description" id="description" class="form-control" placeholder="Hotel Description"
                                          required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="popularPlacesToVisit">Popular Place To Visit ( ,,, for new line )</label>
                                    <textarea name="popularPlacesToVisit" id="popularPlacesToVisit" class="form-control" placeholder="Popular Place to visit ( ,, for new line )"
                                          required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="tourPackagesLink">Tour Packages Link</label>
                                    <input name="tourPackagesLink" class="form-control" id="tourPackagesLink" type="text" placeholder="https://.."></input>
                                </div>
                                <div class="form-group">
                                    <label for="bdcCompareLink">Booking.com Link</label>
                                    <input name="bdcCompareLink" class="form-control" id="bdcCompareLink" type="text" placeholder="https://..""></input>
                                </div>
                                <div class="form-group">
                                    <label for="hotelsDotComCompareLink">Hotels.com Link</label>
                                    <input name="hotelsDotComCompareLink" class="form-control" id="hotelsDotComCompareLink" type="text" placeholder="https://.."></input>
                                </div>
                                <div class="form-group">
                                    <label for="agodaCompareLink">Agoda Link</label>
                                    <input name="agodaCompareLink" class="form-control" id="agodaCompareLink" type="text" placeholder="https://.."></input>
                                </div>
                                <div class="form-group">
                                    <label for="expediaCompareLink">Expedia Link</label>
                                    <input name="expediaCompareLink" class="form-control" id="expediaCompareLink" type="text" placeholder="https://.."></input>
                                </div>

                                <!--IMAGES-->
                                <div class="form-group">
                                    <label for="images">Image 1</label>
                                    <input name="images" id="images" type="file">

                                    <p class="help-block">Choose your image.</p>
                                </div>
                                <div class="form-group">
                                    <label for="images">Image 2</label>
                                    <input name="images" id="images" type="file">

                                    <p class="help-block">Choose your image..</p>
                                </div>
                                <div class="form-group">
                                    <label for="images">Image 3</label>
                                    <input name="images" id="images" type="file">

                                    <p class="help-block">Choose your image.</p>
                                </div>
                                <div class="form-group">
                                    <label for="images">Image 4</label>
                                    <input name="images" id="images" type="file">

                                    <p class="help-block">Choose your image.</p>
                                </div>
                                <div class="form-group">
                                    <label for="images">Image 5</label>
                                    <input name="images" id="images" type="file">

                                    <p class="help-block">Choose your image.</p>
                                </div>

                                <div class="form-group">
                                    <input type="checkbox" name="enabled" checked="checked">
                                         &nbsp;&nbsp;<span style="color: red;">Enable Online Booking</span>
                                    </div>
                                </div>



                            <hr/><h3>User Informations</h3><hr/>
                                <div class="form-group">
                                    <label for="user.name">Name of User</label>
                                    <input name="user.name" id="user.name" class="form-control" type="text" placeholder="Name" required="required"></input>
                                </div>
                                <div class="form-group">
                                    <label for="user.email">Email</label>
                                    <input name="user.email" id="user.email" class="form-control" type="text" placeholder="Email" required="required"></input>
                                </div>
                                <div class="form-group">
                                    <label for="user.phoneNumber">Phone Number</label>
                                    <input name="user.phoneNumber" id="user.phoneNumber" class="form-control" type="text" placeholder="Users Phone Number" required="required"></input>
                                </div>
                                <div class="form-group">
                                    <label for="user.password">Password</label>
                                    <input name="user.password" id="user.password" class="form-control" type="password" placeholder="Users Password" required="required"></input>
                                </div>
                                <div class="form-group">
                                    <label for="user.email">Confirm Password</label>
                                    <input name="user.confirmPassword" id="user.confirmPassword" class="form-control" type="password" placeholder="Confirm Password" required="required"></input>
                                </div>

                                <div class="box-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">CANCEL</button>
                                    <input class="btn btn-primary pull-right" type="submit" th:value="CREATE +' '+ ${hotelType.toUpperCase()}"></input>
                                </div>
                            </div>

                        </form>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                <!--</div>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>