<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content-header">
        <h1>
            <span>Packages</span>
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/admin/packages}">Packages(Admin)</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <!-- Widget: user widget style 1 -->
                <div class="box">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="box-header bg-light-green">
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username">Packages</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tr th:if="${packageList != null}" th:each="pkg,iter : ${packageList}">
                                <td th:text="${iter.index+1}"></td>
                                <td>
                                    <h5>
                                        <a th:href="@{/packages/}+${pkg?.id}">
                                            <span th:text="${pkg?.title}"></span>
                                        </a>
                                    </h5>
                                </td>
                                <td><h5 th:text="${pkg?.location}"></h5></td>
                                <td style="text-align: center;">
                                    <a th:href="@{/admin/packages/edit/}+${pkg?.id}">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <form onsubmit="return confirm('Are you sure?');"
                                          th:action="@{/admin/packages/delete/}+${pkg?.id}" method="post">
                                        <button type="submit" class="btn btn-danger btn-sm"><i
                                                class="glyphicon glyphicon-remove"></i></button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create/Edit Package</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" th:action="${package?.id==null ? '/admin/packages/create':'/admin/packages/edit/'+package?.id}" method="post" enctype="multipart/form-data">
                            <!-- text input -->
                            <div class="form-group" hidden="hidden">
                                <label>Package ID</label>
                                <input th:value="${package?.id}" type="hidden" name="id" class="form-control" placeholder="Package ID">
                            </div>
                            <div class="form-group">
                                <label>Package Title</label>
                                <input th:value="${package?.title}" type="text" required="required" name="title" class="form-control" placeholder="Package Name">
                            </div>

                            <div class="form-group">
                                <label>Short Tag</label>
                                <input th:value="${package?.shortTag}" type="text"  name="shortTag" class="form-control" placeholder="Short Tag">
                            </div>

                            <div class="form-group">
                                <label>Spots</label>
                                <input th:value="${package?.spots}" type="text"  name="spots" class="form-control" placeholder="Spots">
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <input th:value="${package?.category}" type="text"  name="category" class="form-control" placeholder="Spots">
                            </div>

                            <div class="form-group">
                                <label>Tour Date (Required)</label>
                                <input th:value="${pckgDate}" type="date" required="required" name="date" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Last Booking Date (Required)</label>
                                <input th:value="${lastBookingDate}" type="date" required="required" name="lastBookingDate" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Duration</label>
                                <input th:value="${package?.duration}" type="text" name="duration" placeholder="Package Duration" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input th:value="${package?.price}" type="number"  name="price" class="form-control" placeholder="Price">
                            </div>

                            <div class="form-group">
                                <label>Link</label>
                                <input th:value="${package?.link}" type="text"  name="link" class="form-control" placeholder="Package Link">
                            </div>
                            <div class="form-group">
                                <label>Time Distribution</label>
                                <textarea th:text="${package?.timeDistribution}" type="text"  name="timeDistribution" class="form-control" placeholder="Time Distribution"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Package Include</label>
                                <input th:value="${package?.include}" type="text" name="include" class="form-control" placeholder="Package Include">
                            </div>
                            <div class="form-group">
                                <label>Package Exclude</label>
                                <input th:value="${package?.exclude}" type="text" name="exclude" class="form-control" placeholder="Package Exclude">
                            </div>

                            <div class="form-group">
                                <label for="location">Package Location</label>
                                <select class="form-control" id="location" name="location" required="required">
                                    <option th:selected="${package?.location?.equals('Coxs Bazar')}" value="Coxs Bazar">Coxs Bazar</option>
                                    <option th:selected="${package?.location?.equals('Saint Martins')}" value="Saint Martins">Saint Martins</option>
                                    <option th:selected="${package?.location?.equals('Bandarbans')}" value="Bandarbans">Bandarbans</option>
                                    <option th:selected="${package?.location?.equals('Rangamati')}" value="Rangamati">Rangamati</option>
                                    <option th:selected="${package?.location?.equals('Sajek')}" value="Sajek">Sajek</option>
                                    <option th:selected="${package?.location?.equals('Sylhet')}" value="Sylhet">Sylhet</option>
                                    <!--<option th:selected="${package?.location?.equals('Srimangal')}" value="Srimangal">Srimangal</option>-->
                                    <option th:selected="${package?.location?.equals('International')}" value="International">International</option>
                                    <option th:selected="${package?.location?.equals('Combined')}" value="Combined">Combined</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="image">Image</label>
                                <input id="image" class="form-control" type="file" name="image" th:required="${package?.id == null}">
                            </div>
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Description</label>
                                <textarea th:text="${package?.description}" name="description" class="form-control" rows="6"
                                          placeholder="Package Description"></textarea>
                            </div>


                            <input class="btn btn-primary" type="submit" value="SUBMIT"></input>

                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

        </div>


    </section>

</div>
