<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content">
        <div class="row">
            <!--HOTEL INFORMATIONS-->
            <div class="col-sm-3">
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-light-green">
                        <!--<div class="widget-user-image">-->
                        <!--<img class="img-circle" th:src="@{/hotels/}+${hotel?.id}+@{/image/0}" height="30" width="30" alt="User Avatar">-->
                        <!--</div>-->
                        <!-- /.widget-user-image -->
                        <h3 th:text="${hotel?.name}"></h3>
                        <h5 th:text="${hotel?.address?.getCommaSeperatedString()}" style="margin-top: 20px;">Lead
                            Developer</h5>
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#" th:text="${hotel?.description}">Projects <span
                                    class="pull-right badge bg-blue">31</span></a></li>
                            <li>
                                <a href="#"><span th:text="${hotel?.type}"></span> Status
                                    <span class="pull-right">
                                        <span th:if="${hotel?.enabled}"><i class="fa fa-circle text-success"></i> Online</span>
                                        <span th:if="${!hotel?.enabled}"><i class="fa fa-circle text-danger"></i> Offline</span>
                                    </span>
                                </a>
                            </li>

                            <li><a href="#"><span class="pull-right badge bg-aqua" id="star"
                                                  th:text="${hotel?.capitalizeFirstLetter(hotel?.star)}"></span><span>Star Rating</span></a>
                            </li>
                            <li><a href="#">Guest Rating: <span class="pull-right badge bg-green"
                                                                th:text="${hotel?.getAverageRating()}"></span></a></li>
                            <li><a href="#">Total Rooms <span class="pull-right badge bg-red"
                                                              th:text="${hotel?.roomList?.size()}">842</span></a></li>
                            <li><a href="#">Number of AC Rooms <span class="pull-right badge bg-red"
                                                                     th:text="${hotel?.getNumberOfAcRooms()}">842</span></a>
                            </li>
                            <li><a href="#">Number of NON AC Rooms <span class="pull-right badge bg-red"
                                                                         th:text="${hotel?.getNumberOfNonAcRooms()}">842</span></a>
                            </li>
                            <li th:if="${hotel?.discount>0}"><a href="#"><span class="pull-left badge bg-green"
                                                                               style="width: 100%;padding: 5px;"
                                                                               th:text="${hotel?.discount+'% Discount'}"></span></a>
                                <hr/>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4><span th:text="${hotel?.type}"></span> Facilities </h4>
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li th:if="${hotel?.facilities?.frontDesk}"><a href="#">24 Hours Front Desk<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.roomService}"><a href="#">24 Hours Room Service<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.electricity}"><a href="#">24 Hours Electricity<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.security}"><a href="#">24 Hours Security<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.acceptCreditCard}"><a href="#">Accept Credit Card<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.complementaryBreakfast}"><a href="#">Complementary
                                Breakfast<i class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.restaurant}"><a href="#">Restaurant<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.coffeeShop}"><a href="#">Coffee Shop<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.ac}"><a href="#">AC<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.lift}"><a href="#">Lift<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.wifi}"><a href="#">Free Wifi<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.freeParking}"><a href="#">Free Parking<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.newspaper}"><a href="#">Newspaper<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.swimingPool}"><a href="#">Swiming Pool<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.laundry}"><a href="#">Laundry<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.lobby}"><a href="#">Lobby<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.sportsZone}"><a href="#">Sports Zone<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.gym}"><a href="#">Gymnesiam<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.spa}"><a href="#">SPA<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.bar}"><a href="#">Bar<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.helipad}"><a href="#">Helipad<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.vipFloor}"><a href="#">VIP Floor<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.foreignExchange}"><a href="#">Foreign Exchange<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.airportTransportation}"><a href="#">Airport
                                Transportation<i class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.conferenceRoom}"><a href="#">Conference Room<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.businessCenter}"><a href="#">Business Center<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.meetingRoom}"><a href="#">Meeting Room<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.executiveLaunge}"><a href="#">Executive Launge<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.babySitting}"><a href="#">Baby Sitting<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.doctorOnCall}"><a href="#">Doctor On Call<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.wakeupService}"><a href="#">Wakeup Service<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.wheelChairAccessible}"><a href="#">Wheel Chair
                                Accessible<i class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.safeDepositBox}"><a href="#">Safe Deposit Box<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.nonSmokingRoom}"><a href="#">Non Smoking Room<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>
                            <li th:if="${hotel?.facilities?.freeCancellation}"><a href="#">Free Cancellation<i
                                    class="glyphicon glyphicon-ok pull-right"></i></a>
                            </li>


                        </ul>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4>User Reviews</h4>
                        <a class="btn btn-block btn-success pull-right" style="margin-top: 10px;"
                           th:href="@{/reviews/hotel/}+${hotel?.id}+@{/create}"><span
                                style="color: white;">Write a Review</span></a>
                    </div>
                    <div class="box-body">
                        <div class="box box-widget" th:each="review : ${hotel?.getReviewList()}">
                            <div class="box-header with-border">
                                <div class="user-block">
                                    <!--<img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Image">-->
                                    <span class="username"><a href="#" th:text="${review?.user?.name}">Jonathan Burke Jr.</a></span>
                                    <span class="description" th:text="${review?.getReadableDateTime(review?.created)}">Shared publicly - 7:30 PM Today</span>
                                </div>
                                <!-- /.user-block -->
                                <!--<div class="box-tools">-->
                                    <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i-->
                                            <!--class="fa fa-minus"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <!-- post text -->
                                <p th:text="${review?.comment}">Far far away, behind the word mountains, far from the
                                    countries Vokalia and Consonantia, there live the blind
                                    texts. Separated they live in Bookmarksgrove right at</p>

                                <!--<button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>-->
                                <!--<span class="pull-right text-muted">45 likes</span>-->
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-9">
                <!--<div class="row" th:if="${param.messageinfo}">-->
                <!--<div class="alert alert-info alert-dismissible">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                <!--<h4><i class="icon fa fa-ban"></i> Info!</h4>-->
                <!--<span th:if="${param.messageinfo!=null}" th:text="${param.messageinfo[0]}">Danger alert preview.</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row" th:if="${param.message}">-->
                <!--<div class="alert alert-danger alert-dismissible">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                <!--<h4><i class="icon fa fa-ban"></i> Alert!</h4>-->
                <!--<p th:if="${param.message!=null}" th:text="${param.message[0]}">Danger alert preview.</p>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <!--<img class="img img-responsive" style="height: 400px;width: 100%;margin-bottom: 20px;"-->
                    <!--th:src="@{/hotels/images/}+${hotel?.id}">-->
                    <!--IMAGE-->
                    <div class="col-sm-12 hotel-page-pic-panel">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img th:src="@{/hotels/}+${hotel?.id}+@{/image/0}" id="dtlsImg1" alt=""
                                         class="hotel-detail-carousel"/>
                                </div>

                                <div class="item">
                                    <img th:src="@{/hotels/}+${hotel?.id}+@{/image/1}" id="dtlsImg2" alt=""
                                         class="hotel-detail-carousel"/>
                                </div>

                                <div class="item">
                                    <img th:src="@{/hotels/}+${hotel?.id}+@{/image/2}" id="dtlsImg3" alt=""
                                         class="hotel-detail-carousel"/>
                                </div>

                                <div class="item">
                                    <img th:src="@{/hotels/}+${hotel?.id}+@{/image/3}" id="dtlsImg3" alt=""
                                         class="hotel-detail-carousel"/>
                                </div>

                                <div class="item">
                                    <img th:src="@{/hotels/}+${hotel?.id}+@{/image/4}" id="dtlsImg3" alt=""
                                         class="hotel-detail-carousel"/>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
                            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                            <!--<span class="sr-only">Previous</span>-->
                            <!--</a>-->
                            <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
                            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                            <!--<span class="sr-only">Next</span>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--all room number-->
                    <div sec:authorize="hasRole('ROLE_HOTEL_ADMIN')" id="partners"
                         class="tm_pb_section tm_pb_anchor tm_pb_section_9 tm_section_regular tm_section_transparent">
                        <hr/>
                        <div class="roomPanel">
                            <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_27 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tm_pb_vertical_alligment_start">
                                <div class="dashblue text-uppercase text-center">
                                    <h3>Room numbers</h3>
                                </div>

                                <div class="container allRoomNumber">
                                    <div class="col-xs-1 roomBox" th:each="room : ${roomList}"
                                         th:classappend="${bookedIds?.contains(room?.id)} ? bg-yellow : bg-aqua-active">
                                        <span th:text="${room?.roomNumber}"></span>
                                    </div>
                                </div>
                                <!-- .tm_pb_brands_showcase_module__wrapper -->
                            </div>
                            <!-- .tm_pb_column -->

                            <!-- .tm_pb_row -->
                        </div>
                        <hr/>
                    </div>
                    <!--end all room number-->

                    <div sec:authorize="!hasRole('ROLE_HOTEL_ADMIN')" class="row col-sm-12" style="margin: 0px;">
                        <div class="box box-primary">
                            <div class="box-body" style="padding: 0;">
                                <p hidden="hidden" id="mapSource" th:text="${hotel?.address?.mapDirectionFrom}">Coxs
                                    Bazar</p>
                                <p hidden="hidden" id="mapDestination"
                                   th:text="${hotel?.address?.getCommaSeperatedString()}"></p>
                                <iframe id="directionMap" class="col-sm-12" height="290" style="padding: 0;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--BOOKING SESSION ITEMS-->
                <div class="box box-primary"
                     th:if="${session.booking?.roomList!=null and !session.booking?.roomList.isEmpty()}">
                    <div class="box-header">
                        <h3>Your Cart</h3>
                    </div>
                    <div class="box-footer">
                        <div class="table-responsive">
                    <table class="table">
                        <thead class="panel-heading">
                        <th style="text-align: center;">Room Number</th>
                        <th style="text-align: center;">Booking Date</th>
                        <th style="text-align: center;">Price</th>
                        <th style="text-align: center;">Discount</th>
                        <th style="text-align: center;">You're saving</th>
                        <th style="text-align: center;">Total Payable</th>
                        <th style="text-align: center;">Remove</th>
                        </thead>
                        <tbody class="panel-body">
                        <tr th:each="room, iter : ${session.booking?.roomList}">
                            <td style="text-align: center;" th:text="${room?.roomNumber}"></td>
                            <td style="text-align: center;"
                                th:text="${room?.getReadableDayMonth(session.booking?.bookingDateList?.get(iter.index))}"></td>
                            <td style="text-align: center;" th:text="${room?.price}"></td>
                            <td style="text-align: center;"
                                th:text="${room?.getDiscount(session.booking?.bookingDateList?.get(iter.index))}"></td>
                            <td style="text-align: center;"
                                th:text="${room?.getDiscountPercentage(session.booking?.bookingDateList?.get(iter.index))}"></td>
                            <td style="text-align: center;"
                                th:text="${room?.getDiscountedPrice(session.booking?.bookingDateList?.get(iter.index))}"></td>
                            <td style="text-align: center;">
                                <a th:href="@{/bookings/cart/remove/}+${room?.id}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: center;">Total Price:<br/><b
                                    th:text="${session.booking?.getTotalCost()}"></b>
                            </td>
                            <td style="text-align: center;">Total Discount:<br/><b
                                    th:text="${session.booking?.getTotalDiscount()}"></b></td>
                            <td style="text-align: center;">Total Saving:<br/><b
                                    th:text="${session.booking?.getTotalDiscountPercentage()}"></b></td>
                            <td style="text-align: center;">Grand Total:<br/><b style="color: green;"
                                                                                th:text="${session.booking?.getTotalPayableCost()}"></b>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                        <!--BUTTONS AND FILTER ITEMS-->
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <br/>
                                        <span th:if="${hotel?.enabled}">Hotel Status:<br/>
                                                <i class="fa fa-circle text-success"></i> Online</span>
                                        <span th:if="${!hotel?.enabled}">Hotel Status:<br/>
                                                <i class="fa fa-circle text-danger"></i> Manual</span>
                                        <!--<a th:href="@{/bookings/cart/clear}"-->
                                        <!--class="btn btn-lg btn-block btn-danger"><i-->
                                        <!--class="glyphicon glyphicon-shopping-cart"></i>CLEAR-->
                                        <!--ITEMS</a>-->
                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div style="padding: 10px;" class="col-sm-4">
                                        <!--<div th:include="fragments/booking-modal"></div>-->
                                        <a id="checkoutButton" hidden="hidden" th:href="@{/bookings/checkout}"
                                           class="btn btn-lg btn-block btn-warning"><i
                                                class="glyphicon glyphicon-shopping-cart"></i>CHECKOUT</a>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-footer">
                        <div class="row col-sm-12" style="text-align: center;">
                            <form class="form form-inline" th:action="@{/hotels/}+${hotel?.id}+@{/checkAvailablity}" id=""
                                  method="get">

                                <input class="form-control" name="checkInDate" type="date" id="dateFilter"
                                       th:value="${checkInDate}" required></input>
                                <input class="form-control" name="checkoutDate" type="date"
                                       th:value="${checkoutDate}" required></input>
                                <select class="form-control" name="categoryId">
                                    <option>All</option>
                                    <option th:each="category: ${categoryList}" th:text="${category?.name}"
                                            th:selected="${categoryFilter?.equals(category?.name)}" th:value="${category?.id}"></option>
                                </select>
                                <button class="btn btn-success" type="submit">Check Availability</button>
                            </form>
                            <!--<span style="color: darkgreen;padding-left: 10px;margin-top: 10px;">Search by date</span>-->
                        </div>

                        <div class="row">
                            <!--<div class="col-sm-4 col-sm-offset-4">-->
                            <!--<br/>-->
                            <!--<span th:if="${hotel?.enabled}">Hotel Status: <i-->
                            <!--class="fa fa-circle text-success"></i> Online</span>-->
                            <!--<span th:if="${!hotel?.enabled}">Hotel Status: <i-->
                            <!--class="fa fa-circle text-danger"></i> Offline</span>-->
                            <!--</div>-->

                            <!--<div class="panel-heading col-sm-3">-->
                            <!--<form class="form" th:action="@{/hotels/}+${hotel?.id}" id="catFilterForm" method="get">-->
                            <!--<input name="filterType" type="hidden" th:value="date"></input>-->
                            <!--<input name="value" type="hidden" th:value="${filterValue}"></input>-->
                            <!--<select class="form-control" name="categoryFilter" id="categoryFilter">-->
                            <!--<option>All</option>-->
                            <!--<option th:each="category: ${categoryList}" th:text="${category?.name}"-->
                            <!--th:selected="${categoryFilter?.equals(category?.name)}"></option>-->
                            <!--</select>-->
                            <!--<span style="color: darkgreen;padding-left: 10px;">Filter by category</span>-->
                            <!--</form>-->
                            <!--</div>-->
                            </div>

                            <div class="row class-col-sm-12">
                                <div class="col-sm-4 col-sm-offset-4" style="padding: 20px 0 10px 0;">
                                    <form class="form" th:action="@{/hotels/}+${hotel?.id}" method="get">
                                        <input name="filterType" type="hidden" th:value="date"></input>
                                        <input name="value" type="hidden" th:value="${filterValue}"></input>

                                        <!--<label for="searchBox" >Search By Room Number</label>-->
                                        <input id="searchBox" style="height: 40px;" class="form-control" name="q" type="text"
                                               placeholder="Search by room number"></input>
                                    </form>
                                    <!--<span class="col-sm-2 col-sm-offset-5">...</span>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!--ROOM LIST-->
                <div class="row">
                    <!--<div th:if="${!hotel?.enabled}" class="col-sm-8 col-sm-offset-2">-->
                        <!--<span style="color: red;font-size: 20px;">This Hotel is Offline. Please call for booking.</span>-->
                        <!--<br/><br/>-->
                    <!--</div>-->

                    <div class="col-md-3" th:each="room : ${roomList}"
                         th:classappend="${bookedIds?.contains(room?.id)} ? panel-danger : panel-primary"
                         th:hidden="${('category'.equals(filterType) and !bookedIds?.contains(room?.id)) or room?.archived}">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header"
                                 th:classappend="${bookedIds?.contains(room?.id)} ? bg-yellow : bg-aqua-active">
                                <a th:href="@{/rooms/}+${room?.id}+@{/}+${checkInDate}+@{/}+${checkoutDate}">
                                    <h3 class="widget-user-username" style="color: white;">
                                        <span th:text="${room?.roomNumber}"></span>
                                        <span th:text="${room?.category?.name}" class="pull-right"
                                              style="font-size: 15px;"></span>
                                    </h3>
                                    <h5 class="widget-user-desc">

                                        <span th:if="${bookedIds?.contains(room?.id)}">
                                            <kbd th:if="${!filterType.equals('category')}">Booked!</kbd>
                                        </span>
                                        <span th:unless="${bookedIds?.contains(room?.id)}"><kbd>Available</kbd></span>
                                        <kbd class="pull-right"
                                             th:text="${room?.facilities?.airConditioned? 'AC' : 'Non AC'}">NON AC</kbd>
                                    </h5>
                                </a>
                            </div>
                            <div class="widget-user-image">
                                <!--<h1 style="color: white;" class="widget-user-username" th:text="${room?.roomNumber}">Alexander Pierce</h1>-->
                                <!--<img class="img-circle" th:src="@{/rooms/}+${room?.id}+@{/image/0}" alt="User Avatar">-->
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <span>Price</span>
                                            <h5 class="description-header">
                                                <span th:text="${room?.price}"></span>
                                            </h5>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <span>...</span>
                                            <h5 class="description-header"
                                                th:text="${room?.getDiscountPercentage(filterValue)}">
                                                13,000</h5>
                                            <span class="description-text">
                                                <span style="font-size: 10px;">DISCOUNT</span>
                                            </span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <span>After</span>
                                            <h4 class="description-header">
                                                <span th:text="${room?.getDiscountedPrice(filterValue)}"></span>
                                            </h4>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!--<div class="col-sm-12">-->
                                    <!--<a th:onclick="'onRoomItemClick(this,\'' + ${room.id} + '\');'"-->
                                    <!--class="btn btn-link btn-block" id="openEditModalButton"-->
                                    <!--data-toggle="modal" data-target="#modal-edit-room"><b>Edit</b></a>-->
                                    <!--</div>-->
                                    <!-- /.col -->
                                </div>
                                <div class="row" style="padding:0 15px;">
                                    <a class="btn btn-warning pull-right" id="addToCart"
                                       th:href="@{/bookings/cart/add/}+${room?.id}+@{/(checkInDate=${checkInDate},checkoutDate=${checkoutDate})}">Book it!</a>
                                    <a class="btn btn-success" th:href="@{/rooms/}+${room?.id}+@{/}+${checkInDate}+@{/}+${checkoutDate}">Details</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>
                </div>

            </div>
        </div>


        <!--MODALS-->
        <div>
            <!--CREATE ROOM MODAL-->
            <div th:include="adminlte/fragments/room/admin/createRoomModal"></div>
            <!--EDIT ROOM MODAL-->
            <div th:include="adminlte/fragments/room/admin/editRoomModal"></div>
        </div>
    </section>
</div>
