<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue: ${issues}">
        <td th:text="${issue?.id}"></td>
        <td th:text="${issue?.createdAt}"></td>
        <td th:text="${issue?.updatedAt}"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/admin/issues/}+${issue?.id}+@{/update}">Update</a>
        </td>
        <td>
            <form method="post" th:action="@{/admin/issues/}+${issue?.id}+@{/delete}"
                  onclick="return confirm('Are you sure?')">
                <button type="submit" class="btn btn-warning">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>