<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content">

        <div class="row">
            <div class="col-md-4">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">My Reviews</h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a th:href="@{/reviews}"><h4><b>All Reviews</b></h4></a></li>
                        </ul>
                        <ul class="list-group" sec:authorize="!hasRole('ROLE_HOTEL_ADMIN')">
                            <li class="list-group-item">Reviews by Hotel</li>
                            <li th:each="hotel : ${hotelList}" class="list-group-item">
                                <a th:href="@{/reviews(hotelId=${hotel?.id})}">
                                    <h4 th:text="${hotel?.name}"></h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-8">
                <div class="box box-primary" th:each="review, iter: ${reviewList}">
                    <div class="box-header">
                        <h3 class="box-title" th:text="${review?.title}">Collapsable</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p th:text="${review?.comment}"></p><br/><br/><br/>
                        <div class="progress-group" style="margin-left: 50px;margin-right: 50px;">
                            <span class="progress-text text-success">Rating: &nbsp; <span th:text="${review?.rating}"></span> / 10</span>
                            <!--<span class="progress-number"><b th:text="${review?.rating}">4</b>/5</span>-->

                            <!--<div class="progress sm">-->
                            <!--<span id="ratingHidden" class="ratingHidden" hidden="hidden" th:text="${review?.rating}"></span>-->
                            <!--<div id="ratingProgressBar" class="ratingProgressBar progress-bar progress-bar-aqua" style="width: 0%"></div>-->
                            <!--</div>-->
                        </div>
                        <!--<div class="row">-->
                            <!--<div class="col-sm-8"></div>-->
                            <!--<div class="col-sm-4">-->
                                <!--<a class="btn btn-warning btn-block">Edit</a>-->
                                <!--&lt;!&ndash;<form class="col-sm-6">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type="button" class="btn btn-danger col-sm-12">Delete</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <!-- /.box-body -->
                </div>

                <ul class="pager pull-right" style="margin-right: 10px;">
                    <li class="previous"><a th:hidden="${page==0}"
                                            th:href="@{/reviews(hotelId=${hotelId},page=${page-1})}">Previous</a>
                    </li>
                    <li class="next"><a
                            th:hidden="${reviewList == null || reviewList.isEmpty()}"
                            th:href="@{/reviews(hotelId=${hotelId},page=${page+1})}">Next</a>
                    </li>
                </ul>
                <!-- /.box -->
            </div>

            <div class="col-md-8">
                <div class="box box-solid" th:if="${reviewList==null or reviewList?.isEmpty()}">
                    <div class="box-header with-border">
                        <h4>Your Reviews</h4>
                    </div>
                    <div class="box-body">
                        <span>You haven't reviewed any hotel yet!</span>
                    </div>
                    <!-- /.box-body -->
                </div>

                <!-- /.box -->
            </div>
        </div>

    </section>
</div>
