<form class="form" method="post" th:action="@{/admin/vfolders/}+${vfolder!=null?vfolder?.id:''}">

    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control form-line" type="text" name="name" id="name" placeholder="Name"
               th:value="${vfolder?.name}" required>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control form-line" type="text" name="description" id="description"
                  placeholder="Description" th:text="${vfolder?.description}"></textarea>
    </div>


    <div class="form-group">
        <label for="thumbnail">Thumbnail URL</label>
        <input class="form-control form-line" type="text" name="thumbnail" id="thumbnail" placeholder="Thumbnail"
               th:value="${vfolder?.thumbnail}">
    </div>

    <div class="form-group">
        <label for="accentColor">Accent Color</label>
        <input class="form-control form-line" type="color" name="accentColor" id="accentColor"
               placeholder="Accent Color"
               th:value="${vfolder?.accentColor}">
    </div>

    <div class="form-group">
        <label for="parentId">Parent ID</label>
        <input class="form-control form-line" type="number" name="parentId" id="parentId" placeholder="Parent ID"
               th:value="${parent?.id}">
    </div>

    <div class="form-group">
        <a th:href="@{/admin/vfolders(parent_id=${parent?.id})}" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

</form>