<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content">
        <div class="row col-sm-12">
            <div class="col-sm-4">
                <div class="box box-warning">
                    <div class="box-header with-border" style="padding: 20px 10px;">
                        <h3>DemoApp.com</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="padding: 20px 10px;">
                        <h4>Head Office</h4>
                        <p>Khan Plaza ( 3rd floor), 32/1,  Science Lab,
                            Mirpur Road, Dhanmondi, Dhaka- 1205</p>

                        <hr/>
                        <h4>CONTACT</h4>
                        <p>
                            Phone: 01840477707, 01840477717
                        </p>

                        <hr/>
                        <h4>EMAIL</h4>
                        <p>
                            DemoApp@gmail.com
                        </p>
                        <hr/>
                        <h4>FACEBOOK</h4><br/>
                        <p>
                            <p><a href="https://www.facebook.com/DemoApp">DemoApp.com</a></p>
                            <br/>
                            <h4>PARTNERS</h4><br/>
                            <p><a href="https://www.facebook.com/groups/intelligenttouristaid">Intelligent Tourist Aid (ITA)</a></p>
                            <p><a href="https://www.facebook.com/itoursltd">i Tours Ltd</a></p>
                            <p><a href="https://www.facebook.com/seafoodbd">Sea Food BD</a></p>
                            <p><a href="https://www.facebook.com/seaviewst.martin">Sea View Resort and Sports</a></p>

                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-sm-7 col-sm-offset-1">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3>Send Feedback</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" th:action="@{/feedback}" method="post">
                            <!-- text input -->
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control" id="name" type="text" name="name" placeholder="Name"
                                       required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" type="text" id="email" name="email" placeholder="Email"
                                       required="required"/>
                            </div>

                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"
                                       placeholder="Phone" required=""></input>
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" name="message" placeholder="Message"
                                          required="required" rows="10"></textarea>
                            </div>


                            <div class="submit-button">
                                <input class="form-control btn btn-success" id="submitButton" disabled="disabled"
                                       type="submit"
                                       value="SUBMIT"></input>
                            </div>

                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>


    </section>
</div>

