<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content">

        <div class="row">
            <div class="col-sm-12" id="my-row" th:if="${feedback != null}">
                <div style="padding:15px;" class="col-sm-6 panel panel-default">
                    <h3>User Feedback</h3><br/><br/>

                    <h4>
                        From:<br/> <span th:text="${feedback?.getName()}"></span>
                    </h4> <br/>

                    <h4>
                        Phone Number: <br/><span th:text="${feedback?.getPhoneNumber()}"></span>
                    </h4><br/>

                    <h4>
                        Email: <br/><span th:text="${feedback?.getEmail()}">MD Hosen Ahmed</span>
                    </h4><br/>

                    <h4>
                        Message: <br/>
                        <span th:text="${feedback?.getMessage()}"></span>
                    </h4>
                    <br/>
                    <h4>
                        Already Responded?<br/>
                        <span th:text="${feedback?.isResponded()}"></span>
                    </h4>
                    <br/><br/>

                </div>
                <div class="col-sm-6">
                    <div style="padding:15px;" class="panel panel-default">
                        <h4>Your response:</h4>
                        <form th:action="@{/admin/feedback/}+${feedback?.getId()}+@{/response}" method="post" class="form">
                            <textarea name="response" placeholder="Response" class="form-control" rows="10"></textarea><br/>
                            <button type="submit" class="btn btn-primary">Send Email</button>
                        </form>
                    </div>
                    <div class="col-sm-1"></div>
                    <div style="padding:15px;" class=" panel panel-default">
                        <h4>Previous response:</h4><br/>
                        <span th:text="${feedback?.getResponse()}"></span>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

